@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    /* --background-start-rgb: 0, 0, 0; */
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  font-family: "Roboto Mono", monospace;
  color: rgb(var(--foreground-rgb));
  background:rgb(var(--background-end-rgb))
    
    /* rgb(var(--background-start-rgb)) */
    
}
.box2 {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  margin: auto;
  width: 100%;
  border: 2px solid blue;
  padding: 10px;
}
.Head {
  text-align: center;
}
.Roboto-font {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}